{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Жолчу</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    {% block script %}
    <script src="{% static 'map/js/map.js' %}"></script> 
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        {% block newitem %}{% endblock %}

        <a class="navbar-brand"><strong>Жолчу</strong></a>
        {% block navbar %}
        {% endblock %}
      </div>
    </nav>
    {% leaflet_map "main" %}
  </body>
</html>